<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
        />
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <link href="/assets/css/style.css" rel="stylesheet" />
        <title>Golang template</title>
    </head>
    {{ if eq .Token "" }}
    <body hx-get="/sign_in" hx-trigger="load"></body>
    {{ else }}
    <body
        hx-headers='{"Authorization": "Bearer {{ .Token }}"}'
        hx-get="/home"
        hx-trigger="load"
    ></body>
    {{ end }}
</html>
