<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="/assets/vendor/boxicons-v2.1.4.min.css" rel="stylesheet" />
        <link href="/assets/vendor/poppins-v4.0.3.min.css" rel="stylesheet" />
        <link href="/assets/styles/default.css" rel="stylesheet" />
        <script src="/assets/vendor/htmx-v2.0.1.min.js"></script>
        <title>Golang template</title>
    </head>
    {{ if eq .Token "" }}
    <body hx-get="/sign_in.html" hx-trigger="load delay:2s">
        <div class="input-error-success">
            {{ if ne .ErrorMessage "" }}
            <h1 class="error">{{ .ErrorMessage }}</h1>
            {{ end }}
        </div>
    </body>
    {{ else }}
    <body
        hx-headers='{"Authorization": "Bearer {{ .Token }}"}'
        hx-get="/home.html"
        hx-trigger="load"
    ></body>
    {{ end }}
</html>
