<form hx-post="/reset">
    {{ if ne .Error "" }}
    <div class="input-error-success">
        <h1 class="error">{{ .Error }}</h1>
    </div>
    {{ else }}
    <div class="input-error-success">
        <h1 class="success">{{ .Success }}</h1>
    </div>
    {{ end }}
    <div class="input-form">
        <h1>Reset your password</h1>
        <div class="input-box">
            <label for="email"> Email </label>
            <input type="text" id="email" name="email" />
            <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
            <button>Reset</button>
        </div>
    </div>
</form>
<img id="logo" src="/assets/images/logo.svg" />
