<form action="/" method="post">
    <div class="input-form">
        <h1>Log in to your account</h1>
        <div class="input-box">
            <label for="email"> Email </label>
            <input type="text" id="email" name="email" />
            <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
            <label for="password"> Password </label>
            <input type="password" name="password" />
            <i class="bx bxs-lock-alt"></i>
        </div>
        <div id="reset">
            <a hx-get="/reset" hx-target="body">Forgot Password?</a></p>
        </div>
        <div class="input-box">
            <button>Login</button>
        </div>
        <div id="register-link">
            <p>Don't have an account?<a hx-get="/register" hx-target="body">Register</a></p>
        </div>
    </div>
</form>
<img id="logo" src="/assets/images/logo.svg">
